@import "_scss.scss";

.sk {
    position: absolute;
    top: 40px;
    left: 190px;
    padding: 3px 10px;
    border-left: 1px solid $cis;
}

.nav {
    .w {
        height: 47px;
        justify-content: center;
        align-items: center;
        font-size: 16px;

        .sk-list {
            ul {
                li {
                    display: inline-block;
                    margin: 15px;
                    font-weight: 700;
                }
            }
        }

        .sk-content {
            ul {
                li {
                    display: inline-block;
                    margin: 15px;

                    &:last-child a::after {
                        content: '\e900';
                        font-family: 'icomoon';
                    }
                }
            }
        }
    }
}

// * {
//     border: 1px solid black;
// }

.sk-container {
    .sk-hd {
        margin-bottom: 20px;

        img {
            width: 1200px;
            height: 120px;
        }
    }

    .sk-bd {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                position: relative;
                width: 290px;
                height: 460px;
                margin-bottom: 12px;
                overflow: hidden;
                outline: 0.5px solid transparent;
                transition: all 0.5s ease-out;

                &:hover {
                    outline: 0.5px solid $cis;
                }

                a img {
                    width: 290px;
                    height: 290px;
                }

                .sk-item {
                    padding: 5px 10px;

                    h3 {
                        font-size: 16px;
                        margin-bottom: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        box-sizing: border-box;
                    }

                    .cis {
                        font-size: 20px;
                        font-weight: 700;
                        margin-right: 10px;
                    }

                    .bar {
                        display: flex;
                        align-items: center;
                        margin-top: 5px;

                        div {
                            position: relative;
                            overflow: hidden;
                            margin: 0 10px;
                            width: 150px;
                            height: 13px;
                            border: 1.5px solid $cis;
                            border-radius: 7px;

                            span {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 125px;
                                height: 13px;
                                background-color: $cis;
                            }
                        }
                    }
                }

                .btn {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background-color: $cis;
                    color: white;
                    font-size: 16px;
                    text-align: center;
                    line-height: 50px;

                    &:hover {
                        background-color: $black-cis;
                    }
                }
            }
        }
    }
}